ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  
  .flex-container > div {
    width: 25%;
    text-align: center;
  
    line-height: 7px;
    font-size: 13px;
    border-color: #fff;
    border-width: 2px;
    border-style: double;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: -2px;
  }
  #back{
    background-color: rgb(4, 4, 56);
    padding-top: 20px;
    padding-bottom:20px;
  }

  #avatar{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    background-size: cover;
   
    
    
  }
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 25%;
    text-align: center;
    line-height: 7px;
    font-size: 13px;
    border-radius: 10px;
    margin-left: 30px;
    
  }
  .simple-form{
    text-align: center;
    margin: 100px 500px;
    border-radius:20px ;
    z-index: 2;
    position: absolute;
    padding-bottom: 60px;
  }
  #registration{
    width: 100%;
    background-color: rgb(4,4,56);
    padding: 50px 0px;
    border-radius: 20px;
  }
  #button{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: 0px;
  }
  #textarea{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    outline: 0px;
  }
  #butt{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: red;
    outline: 0px;
  }
  
 #div{
  background-color: rgb(4, 4, 56); 
  background-size: 100% 700px;
  z-index: 1;
  position: relative;

 } 

  
   
  #button{
      border-radius:10px;
      
   
  }
   
 